*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navigatiion{
    width: 100%;
    height: 60px;
    display: flex;
    position: relative;
    align-items: center;
}
.navi{
   display: flex;
   padding-top: 50px;
   gap: 15px;
   margin-left: 15px;
}
.notification{
    border: 2px solid black;
    padding: 10px;
    border-radius: 100px;
}
.navi li{
    list-style: none;
}
.account{
    border: 2px solid black;
    padding: 10px;
    border-radius: 100px;
}

.navi li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.search{
    display: flex;
    position: absolute;
    padding-top: 50px;
    /* padding: 50px; */
    left: 50%;
    transform: translateX(-50%);
    gap: 5px;
}
.search input{
    height: 30px;
    width: 300px;
    border-radius: 100px;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
    padding: 20px;
}
.box{
    height: 200px;
    border-radius: 20px;
    }
.box{
    position: relative;
    overflow: hidden;
    background:linear-gradient(
        90deg,
         #e0e0e0 25%,
        #f5f5f5 37%,
        #e0e0e0 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.6s  infinite linear;
}
.text_shimmer{
      width: 70%;
    height: 14px;
    border-radius: 8px;
    margin-top: 180px;
    background: linear-gradient(
        90deg,
        #dcdcdc 25%,
        #f0f0f0 37%,
        #dcdcdc 63%
    );
    background-size: 400% 100%;
    animation: shimmer 1.6s infinite linear;
}
@keyframes shimmer{
    0%{
        background-position: -400px 0;
    }
    100%{
        background-position: 400px 0;
    }
}
@media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px){
    .grid{
        grid-template-columns: 1fr;
    }
}